@model IEnumerable<HR_Administration_System.Models.Employee>

@{
    ViewBag.Title = "All Employees";
}

<head>
    @Styles.Render("~/Content/filter-component.css")
    @Scripts.Render("~/Scripts/filter-component.js")
</head>

<div class="text-center">
    <h1 class="display-4 w-75 text-start pt-2 pb-4 m-auto">Employees</h1>
    @using (Html.BeginForm("FormFilter", "Employee", FormMethod.Post, new { @class = "d-flex flex-column align-items-center px-5 pb-3 pt-4 border border-2 w-75 m-auto" }))
    {
        @Html.AntiForgeryToken()

        <svg onclick="collapseFilterGroup(event)" xmlns="http://www.w3.org/2000/svg" class="align-self-end" width="20" viewBox="0 0 640 640" style="cursor: pointer;">
            <path d="M480 224C492.9 224 504.6 231.8 509.6 243.8C514.6 255.8 511.8 269.5 502.7 278.7L342.7 438.7C330.2 451.2 309.9 451.2 297.4 438.7L137.4 278.7C128.2 269.5 125.5 255.8 130.5 243.8C135.5 231.8 147.1 224 160 224L480 224z" />
        </svg>

        <div class="w-75 d-flex justify-content-between align-items-center filter-components">
            <label for="status" class="form-label">Status</label>
            <select name="status" class="form-select w-50 m-3 d-inline-block">
                <option value="">- Select -</option>
                <option value="all" @(Request["status"] == "all" ? "selected" : "")>All</option>
                <option value="active" @(Request["status"] == "active" ? "selected" : "")>Active Only</option>
                <option value="inactive" @(Request["status"] == "inactive" ? "selected" : "")>Deactive Only</option>
            </select>
        </div>

        <div class="w-75 d-flex justify-content-between align-items-center filter-components">
            <label for="department" class="form-label">Department</label>
            <select disabled name="department" class="form-select w-50 m-3 d-inline-block">
                <option value="">- Select -</option>
                <option value="all" @(Request["department"] == "all" ? "selected" : "")>All</option>
                <option value="active" @(Request["department"] == "active" ? "selected" : "")>Active Only</option>
                <option value="inactive" @(Request["department"] == "inactive" ? "selected" : "")>Deactive Only</option>
            </select>
        </div>

        <div class="w-75 d-flex justify-content-between align-items-center filter-components">
            <label for="manager" class="form-label">Manager</label>
            <select disabled name="manager" class="form-select w-50 m-3 d-inline-block">
                <option value="">- Select -</option>
                <option value="all" @(Request["manager"] == "all" ? "selected" : "")>All</option>
                <option value="active" @(Request["manager"] == "active" ? "selected" : "")>Active Only</option>
                <option value="inactive" @(Request["manager"] == "inactive" ? "selected" : "")>Deactive Only</option>
            </select>
        </div>

        <button class="btn btn-secondary align-self-start p-3 d-inline-flex shadow-sm filter-components" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" class="mx-2" viewBox="0 0 640 640">
                <path fill="white" d="M96 128C83.1 128 71.4 135.8 66.4 147.8C61.4 159.8 64.2 173.5 73.4 182.6L256 365.3L256 480C256 488.5 259.4 496.6 265.4 502.6L329.4 566.6C338.6 575.8 352.3 578.5 364.3 573.5C376.3 568.5 384 556.9 384 544L384 365.3L566.6 182.7C575.8 173.5 578.5 159.8 573.5 147.8C568.5 135.8 556.9 128 544 128L96 128z" />
            </svg>
            Filter
        </button>
    }

    <br />

    <section class="d-flex flex-column align-items-center p-5 px-2 pb-3 w-75 m-auto">
        <div class="d-flex justify-content-between w-100">
            <div class="w-25 d-flex justify-content-between align-items-center">
                <label for="per-page" class="form-label">Show per page</label>
                <select style="min-width: 75px;" name="per-page" class="form-select w-75 m-3 d-inline-block">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="all">All</option>
                </select>
            </div>

            <div class="w-50 d-flex justify-content-end align-items-center">
                <label for="search" class="form-label" hidden>Search</label>
                <input style="min-width: 100px;" type="text" name="search" class="form-control w-75 d-inline-block px-sm-4" placeholder="Search..." />
            </div>
        </div>

        <div class="w-100 overflow-auto">
            <table class="table table-striped w-100 m-auto my-4">
                <thead>
                    <tr>
                        <th style="min-width: 150px;" scope="col">Actions</th>
                        <th style="min-width: 150px;" scope="col">First Name</th>
                        <th style="min-width: 150px;" scope="col">Last Name</th>
                        <th style="min-width: 200px;" scope="col">Telephone Number</th>
                        <th style="min-width: 150px;" scope="col">Email Address</th>
                        <th style="min-width: 150px;" scope="col">Manager</th>
                        <th style="min-width: 150px;" scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="d-flex gap-4">
                                @Html.ActionLink("Edit", "CreateEdit", new { id = item.Id }, new { @class = "btn btn-primary" })
                                @using (Html.BeginForm("ToggleStatus", "Employee", new { id = item.Id }, FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-secondary">
                                        @(item.Status == "Active" ? "Deactivate" : "Activate")
                                    </button>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Telephone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Manager)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
</div>
